@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="checkbox"] {
  accent-color: gray;
}

.rmsc {
  --rmsc-radius: 0.375rem !important;
  font-size: 14px;
  --rmsc-main: #000 !important;
}
.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #653a14 !important;
}
.cl-footerActionLink {
  color: #653a14 !important;
  border: none !important;
}
.cl-signIn-root {
  margin: auto;
  padding-top: 100px;
}
#driver-popover-description {
  padding: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #e9e0c5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cabb9d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BBA488;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main, #rootHeader{
  padding-left: calc(100vw - 100%);
}