@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="checkbox"] {
  accent-color: gray;
}
.rmsc {
  --rmsc-radius: 0.375rem !important;
  font-size: 14px;
  --rmsc-main: #000 !important;
}
.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #653A14 !important;
}
.cl-footerActionLink {
  color: #653A14 !important;
  border: none !important;
}
.cl-signIn-root {
  margin: auto;
  padding-top: 100px;
}
